@media only screen and (max-width: 575px){
    /*banner*/
    #banner{
      margin: 0px 10px;
    }
    .img-banner{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      background-image: linear-gradient(black,black);
    }  
    .text-banner {
      position: absolute;
      left: 50%;
      top: 10px;
      color: white;
      text-align: center;
      transform: translate(-50%, 0);
    }
      /*nav-bar*/
      #nav-bar{
        padding: 18px 5px 18px 35px;
       
      }
      #nav-bar .container .nav{
        display: block;
        width: 100%;
        height: 35px;
        text-transform: uppercase; 
        font-size: 13px;
      }
      #nav-bar .container .nav1{
        display: none;
      }
      #nav-bar .container .nav a{
        text-decoration: none; 
        color: black;
      }
     /*muc tieu - thong tin*/
     #about{
        margin: 0px 10px;
      }
      #target{
        padding: 20px 20px;
        background-color: #e0e0e0;
      }
      #personal-info{
        padding: 20px 20px;
        background-color: #c0c0c0;
      }
      #personal-info .info{
        margin-left: -30px;
        display: none;
     }
         /*kinh nghiem, ky nang, ngon ngu ..*/
    #job-info{
        margin: 40px 0px;
        width: 100%;
     }
     .baoquat{
        border: 1px solid #e0e0e0;
        margin-bottom: 20px;
     }
     .sm{
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 15px;
     }
     .vitri1{
        display: inline-block;
        width: 75%;
        padding:20px 10px 40px 15px;
      }
     .vitri2{
        display: inline-block;
        width: 23%;
        font-size: 38px;
      }
    
     .vitri3{
        padding: 10px 10px 10px 40px;
        display: none;
     }
     .vitri3a{
        padding: 10px 10px 10px 10px !important;
        display: none;
     }
     .icon1{
        display:flex;
        justify-content:space-evenly;
      }
      .icon2{
       display: flex;
       width: 50px;
       height: 50px;
       color: #66B2FF;
       border: 1px solid #66B2FF;
       border-radius: 50%;
      }
      .icon3{
        font-size: 20px;
      }
      .vitri3 span{
        background: #199cdb;
        display: inline-block;
        height:2px;
        margin-right: 10px;
        width: 45px;
      }
     .view .viewless{
        margin:20px 20px 20px 20px;
        display: none;
     }
     .view .viewmore{
        margin: 20px 20px 20px 20px;
        display: none;
     }
    /*giai thuong*/
   #certificate{
    margin:0px 10px;
    background-color: #f7f7f7;
    padding: 20px 7%;
   }
    .noidung12{
    padding-top: 12px;
    border-bottom: 1px solid #d6c08d;
    } 
    .chung_chi .hinh11{
        margin-top: 30px;
    } 
    .andanh2{
        display: none;
    }
    #certificate .container .section-title{
        margin-bottom: -30px;
    }
    /*Du an*/
   #project{
    margin:0px 10px;
 }
#project .container h1{
margin-top: 50px;
}
#project .container .du_an .info_duan1{
  padding:0px;
  border: 1px solid #e0e0e0;
  margin-bottom: 30px;
}
#project .container .du_an .info_duan2{
  padding:0px;
  border: 1px solid #e0e0e0;
  margin-bottom: 30px;
}
#project .container .du_an .info_duan3{
  padding:0px;
  border: 1px solid #e0e0e0;
}
.ten_du_ana{
border-bottom: 1px solid #e0e0e0;
padding: 3px;
}
.du_an_mobile{
width: 100%;
border-bottom: 1px solid #e0e0e0;
}
.du_an_tablet, .du_an_laptop{
display: none;
}
.ten_du_anb{
border: 1px solid #66B2FF; 
border-radius: 12px; 
background-color:#66B2FF
}
.mota tr td{
  padding: 3%;
  vertical-align: top;
}
.kengang_da{
  border-bottom: 1px solid #e0e0e0 !important;
}
/*footer*/
#footer{
    margin: 10px 10px 30px 10px;
    background-color: #f7f7f7;
    text-align: center;
    height:60px;
}
.mxh{
    display: inline-block;
    color: #66B2FF;
    width: 100px !important;
    width: auto;
    font-size: 14px;
    padding-top: 19px;
    margin-left: -15px;
}
  
  
  /*Dinh dang kich thuoc*/
  h2{
    font-size: 23px !important;
  }
  h1{
    font-size: 26px !important;
    padding: 20px 0px;
  }
  h3{
    font-size: 17px !important;
  }
  p, table, span{
    font-size: 13px !important;
  }
}